body {
    background-color: whitesmoke;
}

body *{
    font-family: 'Open Sans', sans-serif;
}

.page {
    margin: auto;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 56px;
    text-align: center;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 25px
}

p {
    line-height: 1.5;
}  

.pure-u-1-2 {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

.pure-u-1-2:first-child {
    width: calc(50% - 120px);
    margin-left: 100px;
    margin-right: 20px; 
}

.pure-u-1-2:last-child {
    width: calc(50% - 120px);
    margin-left: 20px;
    margin-right: 100px;  
}

.margin {
    width: calc(100% - 200px);
    margin-left: 100px;
    margin-right: 100px; 
}

.small-font {
    font-size: 12px;
    padding-top: 20px;
}

.low-income {
    color: #daa1dc;
    font-weight: 900;
}

.lower-middle-income {
    color: #925195;
    font-weight: 900;
}

.upper-middle-income {
    color: #a5ca7f;
    font-weight: 900;
}

.high-income {
    color: #2f8452;
    font-weight: 900;
}

.higher-values {
    color: #800026;
    font-weight: 900;
}

.bold {
    font-weight: 600;
}

.vis-container {
    width: 100%;
}